@import "tailwindcss";

@theme {
  --color-surface: #1e293b;
  --color-surface-light: #334155;
  --color-surface-dark: #0f172a;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  min-height: 100dvh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  height: 2rem;
}
